# **Phython assignment**

# **Q1 L is a list defined as L=[11,12,13,14]**

# **1.1 WAP to add 50 and 60 to L**

In [ ]:
L=[11,12,13,14]
print ("original list =",L)

L.append(50)
print("after adding (50)=",L)

L.append(60)
print("after adding (60)=",L)

original list = [11, 12, 13, 14]
after adding (50)= [11, 12, 13, 14, 50]
after adding (60)= [11, 12, 13, 14, 50, 60]

# **1.2 WAP to remove 11 and 13 from L**

In [ ]:
L=[11,12,13,14]
print("original list=",L)

del L[0]
print("after deletion=",L)

del L[2]
print("after deletion=",L)

original list= [11, 12, 13, 14]
after deletion= [12, 13, 14]
after deletion= [12, 13]

# **1.3 WAP to sort L in ascending order**

In [ ]:
L=[11,12,14,13]
print("original list=",L)

L.sort()
print("after sorting=",L)

original list= [11, 12, 14, 13]
after sorting= [11, 12, 13, 14]

# **1.4 WAP to sort L in descending order**

In [ ]:
L=[11,14,13,12]
print("original list=",L)

L.sort(reverse=True)
print("after sorting in descending order=",L)

original list= [11, 14, 13, 12]
after sorting in descending order= [14, 13, 12, 11]

# **1.5 WAP to search in L**

In [ ]:
l=[11,12,13,14]
print("original list=",L)
print("13 in L=",13 in L)

original list= [14, 13, 12, 11]
original list= True

# **1.6 WAP to count number of elements present in L**

In [ ]:
L=[11,12,13,14]
print("original list=",L)
print("Num of elements in list are= ",len(L))

original list= [11, 12, 13, 14]
Num of elements in list are=  4

# **1.7WAP to sum all elements in L**

In [ ]:
l=[11,12,13,14]
print("original list=",L)
print("sum is=",sum(L))

original list= [11, 12, 13, 14]
sum is= 50

# **1.8 WAP to sum all odd numbers in L**

In [ ]:
l=[11,12,13,14]

sum=0

for i in l:
  if i%2!=0:
    sum += i
print("sum of odd num is=",sum)

sum of odd num is= 24

# **1.9 WAP to sum all even numbers in L**

In [ ]:
l=[11,12,13,14]

sum=0

for i in l:
  if i%2==0:
    sum += i
print("sum of even num is=",sum)

sum of even num is= 26

# **1.10 WAP to sum all prime numbers in L**

In [29]:
l=[11,12,13,14]

def Prime(x):
  if x<2:
    return 0
  for i in range(2,x):
    if x%i==0:
      return 0
    return 1

sum=0

for i in l:
  if Prime(i)==0:
    sum += i

print("sum is=",sum)

sum is= 26

# **1.11 WAP to clear all elements in L**

In [ ]:
L=[11,12,13,14]
L.clear()
print("after clear list is=",L)

after clear list is= []

# **1.12 WAP to delete L**

In [ ]:
L=[11,12,13,14]
print("original list=",L)
del L
print("after deleting the list= ",L)

original list= [11, 12, 13, 14]

NameError: ignored

# **Q2 D is dictionary defined as D={1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}**

# **2.1 WAP to add new entry in D=8:8.8**

In [ ]:
D={1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print("dictionary is=",D)

D[8]=8.8
print("after adding list is=",D)

dictionary is= {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
after adding list is= {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

# **2.2 WAP to remove key=2**

In [ ]:
D={1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print("original D is=",D)

del D[2]
print("after deleting=",D)

original D is= {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
after deleting= {1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7}

# **2.3 WAP to check whether key is present in D or not**

In [ ]:
D={1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print("original D is=",D)
print("is key 6 present in D=",6 in D)

original D is= {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
is key 6 present in D= False

# **2.4 WAP to count number of elements in D**

In [ ]:
D={1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print("original D is=",D)
print("elements in D are=",len(D))

original D is= {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
elements in D are= 5

# **2.5 WAP to add all values in D**

In [ ]:
D={1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print("original D is=",D)
print("sum is=",sum(D))

original D is= {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
sum is= 15

# **2.6 WAP to update value of 3 to 7.1**

In [ ]:
D={1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print("original D is=",D)
D[3]=7.1
print("after updating=",D)

original D is= {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
after updating= {1: 5.6, 2: 7.8, 3: 7.1, 4: 8.7, 5: 7.7}

# **2.7 WAP to clear dictionary**

In [ ]:
D={1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print("original D is=",D)
D.clear()
print("D is=",D)

original D is= {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
D is= {}

# **Q3 ques related to sets**

# **3.1 WAP to add 55 and 66 in set1**

In [ ]:
S1=set([10,20,30,40,50,60])
print("S1 is=",S1)

S1.add("55")
print("after adding=",S1)

S1.add("66")
print("after adding=",S1)

S1 is= {40, 10, 50, 20, 60, 30}
after adding= {40, 10, '55', 50, 20, 60, 30}
after adding= {40, 10, '55', 50, '66', 20, 60, 30}

# **3.2 WAP to remove 10 and 30 ffrom set S1**

In [ ]:
S1=set([10,20,30,40,50,60])
print("S1 is=",S1)

S1.remove(10)
print("after deletion=",S1)

S1.remove(30)
print("after deletion=",S1)

S1 is= {40, 10, 50, 20, 60, 30}
after deletion= {40, 50, 20, 60, 30}
after deletion= {40, 50, 20, 60}

# **3.3 WAP to check whether 40 is present in S1**

In [ ]:
S1=set([10,20,30,40,50,60])
print("S1 is=",S1)
print("set=",40 in S1)

S1 is= {40, 10, 50, 20, 60, 30}
set= True

# **3.4 WAP to find union between S1 and S2**

In [ ]:
S1=set([10,20,30,40,50,60])
print("S1 is=",S1)
S2=set([40,50,60,70,80,90])
print("S2 is=",S2)
print("union of set S1 and S2 is=",S1.union(S2))

S1 is= {40, 10, 50, 20, 60, 30}
S2 is= {70, 40, 80, 50, 90, 60}
union of set S1 and S2 is= {70, 40, 10, 80, 50, 20, 90, 60, 30}

# **3.5 WAP to find intersection between S1 and S2**

In [ ]:
S1=set([10,20,30,40,50,60])
print("S1 is=",S1)
S2=set([40,50,60,70,80,90])
print("S2 is=",S2)
print("intersection of S1 and S2=",S1.intersection(S2))

S1 is= {40, 10, 50, 20, 60, 30}
S2 is= {70, 40, 80, 50, 90, 60}
intersection of S1 and S2= {40, 50, 60}

# **3.6 WAP to find S1-S2**

In [ ]:
S1=set([10,20,30,40,50,60])
print("S1 is=",S1)
S2=set([40,50,60,70,80,90])
print("S2 is=",S2)
print("difference of S1 and S2=",S1-S2)

S1 is= {40, 10, 50, 20, 60, 30}
S2 is= {70, 40, 80, 50, 90, 60}
difference of S1 and S2= {10, 20, 30}

# **Q4 Write the following program**

# **4.1 WAP to print 100 random string whose length between 6 and 8**

In [34]:
import random as r
import string as s

for i in range(100):
  x=r.randint(6,8)
  y=r.sample(s.ascii_letters, x)
  print("".join(y))

KsLeVA
fQnTzaGC
AHMeks
LDyBGJ
NwHYBOl
OQxbdE
CEKZWy
chKvBx
WgfUnwBs
bdiDcWAG
IWdABwny
SAZnfzWk
XAlPcDZL
MQLPWr
gpMzHBde
HwNosYuW
xKkZbcQU
IneQlUzq
gTOdMmt
VCPBhtKN
NbhIya
SzUyZWC
eIwncPv
TWewsVU
hxKEWM
nKctzId
BGidtAM
tmsZMoVH
WdwtfLa
HYVOlu
RmzAei
sJwxuo
IgYBQs
WkNESJeX
TkNexvfn
KEnmHyFQ
gqPTkyOj
rhcNMFZ
ioZzRlW
NCdvJBSi
MduOmSL
KwfxGalb
TCeubQHL
xOnisfVM
mVfQkU
dSVUBreX
FcsQeIUX
OsDZlN
HGkocZex
FeCEPJ
rbwEKZCL
sYuqip
qKbePoJ
jLNzVuRA
dsMxFt
NoSZgbLR
KFnqzDi
vdRkUhy
zwEyZk
JOgTpvQN
NeudOD
AIfnHEl
ExNTIuF
oRgdEkNl
iQBIsek
PZzbcO
RLdWFvyp
QTjqolw
YyRHslnu
KHSfOP
XTxCVQ
jmcxiW
BAGpSlo
nxmzXk
VnHMWiq
RKsHuGl
DJEpmob
FPbUXyMo
EzeRfck
CKIPyX
CXKkjF
snxiwrh
YXgvZIrU
lSIrtyu
DiJaFAB
JkDvsTb
yVDwqZu
oxPzUKh
dOUhkLb
YXcSCsDi
UsHmdA
GEuYzPH
USHEhGAW
wBRkfh
pIHUaV
VdrQWS
iTnlavH
EMgJTO
vNFcGsfK
zluQcfjN

# **4.2 WAP to print all prime numbers between 600 and 800**

In [41]:
def Prime(n):
  if n<2:
    return 0
  for i in range(2, n//2+1):
    if n%i==0:
      return 0
  return 1

for i in range(600,800):
  if Prime(i)==1:
    print(i,end=' ')

601 607 613 617 619 631 641 643 647 653 659 661 673 677 683 691 701 709 719 727 733 739 743 751 757 761 769 773 787 797

# **4.3 WAP to print all num between 100 and 1000 that are divisible by 7 and 9**

In [42]:
for i in range(100,1000):
 if i%7==0:
  print(i)

for i in range(100,1000):
  if i%9==0:
    print(i,end=' ')

105
112
119
126
133
140
147
154
161
168
175
182
189
196
203
210
217
224
231
238
245
252
259
266
273
280
287
294
301
308
315
322
329
336
343
350
357
364
371
378
385
392
399
406
413
420
427
434
441
448
455
462
469
476
483
490
497
504
511
518
525
532
539
546
553
560
567
574
581
588
595
602
609
616
623
630
637
644
651
658
665
672
679
686
693
700
707
714
721
728
735
742
749
756
763
770
777
784
791
798
805
812
819
826
833
840
847
854
861
868
875
882
889
896
903
910
917
924
931
938
945
952
959
966
973
980
987
994
108 117 126 135 144 153 162 171 180 189 198 207 216 225 234 243 252 261 270 279 288 297 306 315 324 333 342 351 360 369 378 387 396 405 414 423 432 441 450 459 468 477 486 495 504 513 522 531 540 549 558 567 576 585 594 603 612 621 630 639 648 657 666 675 684 693 702 711 720 729 738 747 756 765 774 783 792 801 810 819 828 837 846 855 864 873 882 891 900 909 918 927 936 945 954 963 972 981 990 999

# **Q5 ques related to random numbers**

**WAP to create 2 list of 10 random numbers between 10 and 30**

# **5.1 WAP to find common numbers in list**

In [ ]:
import random
inputNumbers =range(10,30)
print("L1=",random.choices(inputNumbers,k=10))
print("L2=",random.choices(inputNumbers,k=10))

L1= [16, 17, 19, 22, 27, 28, 24, 15, 24, 23]
L2= [28, 20, 23, 29, 24, 21, 23, 24, 25, 24]

# **5.2 WAP to find minimum in list**

In [ ]:
L1=[16,17,19,22,27,28,24,15,24,23]
L2=[28,20,23,29,24,21,23,24,25,24]
print("max in L1=",max(L1))
print("max in L2=",max(L2))

max in L1= 28
max in L2= 29

# **Q6 ques related to random num**

**WAP to create a list of 100 random numbers between 100 and 900**

# **6.1 print all odd and even num**

In [55]:
import random as r

x=r.sample(range(100,900),100)
print("random list=",x)

for i in x:
  if i%2!=0:
    print("odd num are=",i,end=' ')

for i in x:
  if i%2==0:
    print("even num are=",i)

random list= [792, 585, 220, 527, 519, 185, 174, 487, 568, 365, 544, 620, 326, 172, 683, 283, 184, 218, 368, 797, 383, 871, 162, 889, 654, 841, 638, 513, 275, 175, 421, 534, 777, 890, 398, 616, 834, 617, 575, 229, 429, 626, 659, 844, 340, 621, 745, 238, 591, 168, 756, 860, 407, 203, 213, 703, 742, 170, 589, 843, 389, 153, 819, 838, 873, 461, 182, 562, 584, 443, 254, 381, 239, 479, 130, 197, 824, 324, 878, 899, 183, 880, 698, 528, 494, 862, 850, 504, 411, 778, 379, 147, 321, 668, 234, 111, 767, 702, 228, 143]
odd num are= 585 odd num are= 527 odd num are= 519 odd num are= 185 odd num are= 487 odd num are= 365 odd num are= 683 odd num are= 283 odd num are= 797 odd num are= 383 odd num are= 871 odd num are= 889 odd num are= 841 odd num are= 513 odd num are= 275 odd num are= 175 odd num are= 421 odd num are= 777 odd num are= 617 odd num are= 575 odd num are= 229 odd num are= 429 odd num are= 659 odd num are= 621 odd num are= 745 odd num are= 591 odd num are= 407 odd num are= 203 odd num are= 213 odd num are= 703 odd num are= 589 odd num are= 843 odd num are= 389 odd num are= 153 odd num are= 819 odd num are= 873 odd num are= 461 odd num are= 443 odd num are= 381 odd num are= 239 odd num are= 479 odd num are= 197 odd num are= 899 odd num are= 183 odd num are= 411 odd num are= 379 odd num are= 147 odd num are= 321 odd num are= 111 odd num are= 767 odd num are= 143 even num are= 792
even num are= 220
even num are= 174
even num are= 568
even num are= 544
even num are= 620
even num are= 326
even num are= 172
even num are= 184
even num are= 218
even num are= 368
even num are= 162
even num are= 654
even num are= 638
even num are= 534
even num are= 890
even num are= 398
even num are= 616
even num are= 834
even num are= 626
even num are= 844
even num are= 340
even num are= 238
even num are= 168
even num are= 756
even num are= 860
even num are= 742
even num are= 170
even num are= 838
even num are= 182
even num are= 562
even num are= 584
even num are= 254
even num are= 130
even num are= 824
even num are= 324
even num are= 878
even num are= 880
even num are= 698
even num are= 528
even num are= 494
even num are= 862
even num are= 850
even num are= 504
even num are= 778
even num are= 668
even num are= 234
even num are= 702
even num are= 228

# **6.2 print all prime num**

In [64]:
import random as r

x=r.sample(range(100,900),100)
print("random list=",x)


def Prime(n):
  if n<2:
    return 0
  for i in range (2, n//2+1):
    if n%i==0:
      return 0
  return 1

for i in x:
  if Prime(i)==1:
    print(i)

random list= [316, 592, 279, 108, 166, 865, 734, 365, 391, 303, 496, 777, 272, 603, 873, 864, 239, 261, 779, 204, 850, 856, 186, 514, 457, 832, 536, 398, 817, 420, 184, 432, 197, 584, 171, 868, 142, 430, 260, 382, 196, 205, 874, 520, 889, 325, 168, 498, 686, 784, 460, 484, 649, 763, 374, 318, 146, 336, 786, 552, 135, 446, 553, 491, 898, 628, 170, 193, 897, 660, 255, 882, 696, 408, 351, 401, 510, 158, 298, 709, 153, 555, 257, 409, 490, 587, 871, 504, 207, 499, 435, 807, 622, 341, 573, 470, 238, 736, 231, 185]
239
457
197
491
193
401
709
257
409
587
499

# **Q7**

**D is dictionary defined as D={1:"ONE", 2:"TWO", 3:"THREE", 4:"FOUR", 5:"FIVE"**
**WAP to read all the keys and values from dictionary and write to the file in the given below format.
key1,value1
key2,value2
key3,value3**

In [ ]:
D = {1:'ONE',2:'TWO',3:'THREE',4:'FOUR',5:'FIVE'}

with open('myfile.txt','w') as f:
  for key, value in D.items():
    f.write(f'{key},{value}\n')

# **Q8**

*L is list defined as L={"one","two","three","four","five"}
WAP to count the lenght of each element from a list and write to the file in the given below format:
one,3
two,3
three,4*

In [50]:
L=["one","two","three","four","five"]

with open('myfile.txt','w') as f:
  for i in L:
    lenght=len(i)
    f.write(f'{i}:{lenght}\n')

# **Q9 Write a file 100 random strings whose lenght between 10 and 15**

In [ ]:
import random as r
import string as s

with open('myfile.txt','w') as f:
  for i in range(100):
    random_string="".join(r.choices(s.ascii_letters+s.digits,k=r.randint(10,15)))
    f.write(random_string+'\n')

# **Q10 Write to file all prime numbers between 600 and 800**

In [48]:
def Prime(n):
  if n<2:
    return 1
  for i in range(2, n//2+1):
    if n % i == 0:
      return 0
  return 1

with open('myfile.txt','w') as f:
  for i in range(600,800):
    if Prime(i)==1:
      f.write(str(i)+'\n')

# **Q11 WAP to calculate time taken by a program**

In [26]:
import time
start_time=time.time()
a=16
b=189
c=a+b
print(a,"+",b,"=",c)
end_time=time.time()
print("time taken=",end_time-start_time,"seconds")

16 + 189 = 205
time taken= 0.0029506683349609375 seconds

# **Q13 WAP to create a dic of student marks in five sub and you have to find student having max min avg marks**

In [ ]:
student={'name':'riya', 'marks':[14,28,16,29,10]}

max_marks=max(student['marks'])
print("max marks of student=",max_marks)

min_marks=min(student['marks'])
print("min marks of student=",min_marks)

avg_marks=sum(student['marks'])/len(student['marks'])
print("average marks of student are=",avg_marks)

max marks of student= 29
min marks of student= 10
average marks of student are= 19.4