# **phython assignment**

# **Q1 L is a list defined as L=[11,12,13,14]**

# **1.1 WAP to add 50 and 60 to L**

In [ ]:
L=[11,12,13,14]
print ("original list =",L)

L.append(50)
print("after adding (50)=",L)

L.append(60)
print("after adding (60)=",L)

original list = [11, 12, 13, 14]
after adding (50)= [11, 12, 13, 14, 50]
after adding (60)= [11, 12, 13, 14, 50, 60]

# **1.2 WAP to remove 11 and 13 from L**

In [ ]:
L=[11,12,13,14]
print("original list=",L)

del L[0]
print("after deletion=",L)

del L[2]
print("after deletion=",L)

original list= [11, 12, 13, 14]
after deletion= [12, 13, 14]
after deletion= [12, 13]

# **1.3 WAP to sort L in ascending order**

In [ ]:
L=[11,12,14,13]
print("original list=",L)

L.sort()
print("after sorting=",L)

original list= [11, 12, 14, 13]
after sorting= [11, 12, 13, 14]

# **1.4 WAP to sort L in descending order**

In [ ]:
L=[11,14,13,12]
print("original list=",L)

L.sort(reverse=True)
print("after sorting in descending order=",L)

original list= [11, 14, 13, 12]
after sorting in descending order= [14, 13, 12, 11]

# **1.5 WAP to search in L**

In [ ]:
l=[11,12,13,14]
print("original list=",L)
print("13 in L=",13 in L)

original list= [14, 13, 12, 11]
original list= True

# **1.6 WAP to count number of elements present in L**

In [ ]:
L=[11,12,13,14]
print("original list=",L)
print("Num of elements in list are= ",len(L))

original list= [11, 12, 13, 14]
Num of elements in list are=  4

# **1.7WAP to sum all elements in L**

In [ ]:
l=[11,12,13,14]
print("original list=",L)
print("sum is=",sum(L))

original list= [11, 12, 13, 14]
sum is= 50

# **1.8 WAP to sum all odd numbers in L**

# **1.9 WAP to sum all even numbers in L**

# **1.10 WAP to sum all prime numbers in L**

# **1.11 WAP to clear all elements in L**

In [ ]:
L=[11,12,13,14]
L.clear()
print("after clear list is=",L)

after clear list is= []

# **1.12 WAP to delete L**

In [ ]:
L=[11,12,13,14]
print("original list=",L)
del L
print("after deleting the list= ",L)

original list= [11, 12, 13, 14]

NameError: ignored

# **Q2 D is dictionary defined as D={1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}**

# **2.1 WAP to add new entry in D=8:8.8**

In [ ]:
D={1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print("dictionary is=",D)